In [9]:
import pandas as pd

# Land Cover

In [10]:
import os
print(os.path.exists("data/LandCover_raw.xlsx"))

True

In [11]:
# Load the Excel file
df = pd.read_excel("data/LandCover_raw.xlsx")

In [12]:
# Drop Un-wanted Colums
columns_to_drop = ['Domain','Domain Code','Element Code','Item Code','Year Code','Unit','Flag','Flag Description','Note']
df_cleaned = df.drop(columns=columns_to_drop, errors='ignore')

In [13]:
df_cleaned.rename(columns={'Value': 'Land_per_1000ha','Area':'Country'}, inplace=True)

In [14]:
# Save to CSV
output_path="data/clean_landcover.csv"
df_cleaned.to_csv(output_path, index=False)

print(f"CSV file saved at: {output_path}")

CSV file saved at: data/clean_landcover.csv

# Pesticides Raw

In [15]:
# Load the Excel file
df = pd.read_excel("data/pesticides_raw.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6862 entries, 0 to 6861
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       6862 non-null   object
 1   Domain            6862 non-null   object
 2   Area Code (M49)   6862 non-null   int64
 3   Area              6862 non-null   object
 4   Element Code      6862 non-null   int64
 5   Element           6862 non-null   object
 6   Item Code         6862 non-null   int64
 7   Item              6862 non-null   object
 8   Year Code         6862 non-null   int64
 9   Year              6862 non-null   int64
 10  Unit              6862 non-null   object
 11  Value             6862 non-null   float64
 12  Flag              6862 non-null   object
 13  Flag Description  6862 non-null   object
 14  Note              6862 non-null   object
dtypes: float64(1), int64(5), object(9)
memory usage: 804.3+ KB

In [16]:
# Drop Un-wanted Colums
columns_to_drop = ['Domain Code','Element Code','Item Code','Year Code','Flag','Flag Description','Note']
df_cleaned = df.drop(columns=columns_to_drop, errors='ignore')
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6862 entries, 0 to 6861
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Domain           6862 non-null   object
 1   Area Code (M49)  6862 non-null   int64
 2   Area             6862 non-null   object
 3   Element          6862 non-null   object
 4   Item             6862 non-null   object
 5   Year             6862 non-null   int64
 6   Unit             6862 non-null   object
 7   Value            6862 non-null   float64
dtypes: float64(1), int64(2), object(5)
memory usage: 429.0+ KB

In [18]:
# Save to CSV
output_path="data/clean_pesticides.csv"
df_cleaned.to_csv(output_path, index=False)

print(f"CSV file saved at: {output_path}")

CSV file saved at: data/clean_pesticides.csv

# Rain Fall Raw

In [19]:
# Load the Excel file
df_raw = pd.read_excel("data/rainfall_raw.xlsx")
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            0 non-null      float64
 8   1964            0 non-null      float64
 9   1965            0 non-null      float64
 10  1966            0 non-null      float64
 11  1967            0 non-null      float64
 12  1968            0 non-null      float64
 13  1969            0 non-null      float64
 14  1970            0 non-null      float64
 15  1971            0 non-null      float64
 16  1972            0 non-null      float64
 17  1973            0 non-null      float64
 18  1974            0 non-null      float64
 19  1975            0 non-null      float64
 20  1976            0 non-null      float64
 21  1977            0 non-null      float64
 22  1978            0 non-null      float64
 23  1979            0 non-null      float64
 24  1980            0 non-null      float64
 25  1981            0 non-null      float64
 26  1982            0 non-null      float64
 27  1983            0 non-null      float64
 28  1984            0 non-null      float64
 29  1985            0 non-null      float64
 30  1986            0 non-null      float64
 31  1987            0 non-null      float64
 32  1988            0 non-null      float64
 33  1989            0 non-null      float64
 34  1990            216 non-null    float64
 35  1991            220 non-null    float64
 36  1992            249 non-null    float64
 37  1993            253 non-null    float64
 38  1994            253 non-null    float64
 39  1995            253 non-null    float64
 40  1996            253 non-null    float64
 41  1997            253 non-null    float64
 42  1998            253 non-null    float64
 43  1999            253 non-null    float64
 44  2000            255 non-null    float64
 45  2001            255 non-null    float64
 46  2002            255 non-null    float64
 47  2003            255 non-null    float64
 48  2004            255 non-null    float64
 49  2005            255 non-null    float64
 50  2006            257 non-null    float64
 51  2007            257 non-null    float64
 52  2008            257 non-null    float64
 53  2009            257 non-null    float64
 54  2010            257 non-null    float64
 55  2011            260 non-null    float64
 56  2012            262 non-null    float64
 57  2013            262 non-null    float64
 58  2014            262 non-null    float64
 59  2015            262 non-null    float64
 60  2016            262 non-null    float64
 61  2017            262 non-null    float64
 62  2018            262 non-null    float64
 63  2019            262 non-null    float64
 64  2020            262 non-null    float64
 65  2021            262 non-null    float64
 66  2022            258 non-null    float64
 67  2023            0 non-null      float64
dtypes: float64(64), object(4)
memory usage: 141.4+ KB

In [20]:
# Melt the dataset to reshape it
df_melted = df_raw.melt(id_vars=['Country Name','Country Code', 'Indicator Name', 'Indicator Code'],
                     var_name='Year',
                     value_name='average_rain_fall_mm_per_year')

In [21]:
df_cleaned = df_melted.dropna(axis=0, how='any')

In [22]:
df_cleaned2 = df_cleaned.rename(columns={'Country Name': 'Country', 'Country Code':'Code'})

In [23]:
# Save to CSV
output_path = "data/cleaned_rainfall.csv"
df_cleaned2.to_csv(output_path, index=False)

print(f"CSV file saved at: {output_path}")

CSV file saved at: data/cleaned_rainfall.csv

# Temperature  Raw

In [24]:
# Load the Excel file
df = pd.read_excel("data/temp_raw.xlsx")
df.head()

,code,name,1901-07,1902-07,1903-07,1904-07,1905-07,1906-07,1907-07,1908-07,...,2014-07,2015-07,2016-07,2017-07,2018-07,2019-07,2020-07,2021-07,2022-07,2023-07
0,ABW,Aruba (Neth.),28.22,27.79,27.89,27.62,27.68,27.58,27.56,27.46,...,29.46,29.68,29.71,29.27,28.95,29.33,29.34,29.04,28.81,29.39
1,AFG,Afghanistan,12.79,13.00,11.82,12.14,12.03,12.52,11.90,12.22,...,13.20,13.78,14.26,13.88,14.18,13.80,13.19,14.34,14.51,14.67
2,AGO,Angola,21.32,21.36,21.37,21.28,21.32,21.20,21.22,21.29,...,21.56,21.69,21.94,21.84,21.66,21.76,21.72,21.73,21.62,21.51
3,AIA,Anguilla (U.K.),27.19,26.77,26.81,26.34,26.69,26.45,26.11,26.25,...,27.97,28.22,28.15,27.96,27.70,28.08,28.04,27.96,27.73,28.35
4,ALA,Finland,5.39,3.43,5.29,4.72,5.17,5.70,4.55,4.88,...,7.22,6.88,6.35,6.17,6.94,6.92,7.82,6.21,6.87,6.66

In [25]:

# Melt the dataframe to convert wide format to long format
df_melted = df.melt(id_vars=['code', 'name'], var_name='Year', value_name='avg_temp')

# Extract only the year part from 'Year' (convert '1901-07' to '1901')
df_melted['Year'] = df_melted['Year'].astype(str).str[:4]

# Rename columns for clarity
df_melted.rename(columns={'name': 'Country'}, inplace=True)

# Display the first few rows
print(df_melted.head())

  code          Country  Year  avg_temp
0  ABW    Aruba (Neth.)  1901     28.22
1  AFG      Afghanistan  1901     12.79
2  AGO           Angola  1901     21.32
3  AIA  Anguilla (U.K.)  1901     27.19
4  ALA          Finland  1901      5.39

In [26]:
df_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30258 entries, 0 to 30257
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   code      30258 non-null  object
 1   Country   30258 non-null  object
 2   Year      30258 non-null  object
 3   avg_temp  30012 non-null  float64
dtypes: float64(1), object(3)
memory usage: 945.7+ KB

In [27]:
df_cleaned = df_melted.dropna(axis=0, how='any')  # axis=0 means row-wise

In [28]:
df_cleaned2 = df_cleaned.rename(columns={'code':'Code'})

In [29]:
# Save to CSV
output_path="data/clean_temp.csv"
df_cleaned2.to_csv(output_path, index=False)

print(f"CSV file saved at: {output_path}")

CSV file saved at: data/clean_temp.csv

# Yield Raw

In [30]:
# Load the Excel file
df_raw = pd.read_excel("data/yield_raw.xlsx")
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63181 entries, 0 to 63180
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       63181 non-null  object
 1   Domain            63181 non-null  object
 2   Area Code (M49)   63181 non-null  int64
 3   Area              63181 non-null  object
 4   Element Code      63181 non-null  int64
 5   Element           63181 non-null  object
 6   Item Code (FAO)   63181 non-null  int64
 7   Item              63181 non-null  object
 8   Year Code         63181 non-null  int64
 9   Year              63181 non-null  int64
 10  Unit              63181 non-null  object
 11  Value             63181 non-null  float64
 12  Flag              63181 non-null  object
 13  Flag Description  63181 non-null  object
 14  Note              0 non-null      float64
dtypes: float64(2), int64(5), object(8)
memory usage: 7.2+ MB

In [31]:
# Drop Un-wanted Colums
columns_to_drop = ['Flag','Flag Description','Note']
df_cleaned = df_raw.drop(columns=columns_to_drop, errors='ignore')

In [32]:
# Save to CSV
output_path="data/clean_yield.csv"
df_cleaned.to_csv(output_path, index=False)

print(f"CSV file saved at: {output_path}")

CSV file saved at: data/clean_yield.csv

# Final

In [33]:
# Load the Rain Fall Data
df_rainfall = pd.read_csv("data/cleaned_rainfall.csv")
# Load the Land Cover Data
df_landcover = pd.read_csv("data/clean_landcover.csv")
# Load the Temparature Data
df_temp = pd.read_csv("data/clean_temp.csv")
# Load the Pesticides Data
df_pesticides = pd.read_csv("data/clean_pesticides.csv")
# Load the Yield Data
df_yield = pd.read_csv("data/clean_yield.csv")

In [34]:
df_rainfall.rename(columns={'Country Code': 'code'}, inplace=True)

In [35]:
# Merge on the common column "ID"
df_crop1 = pd.merge(df_yield, df_pesticides, on=['Area Code (M49)', 'Year'], how='inner')

In [36]:
# Merge on the common column "ID"
df_crop2 = pd.merge(df_crop1, df_landcover, on=['Area Code (M49)', 'Year'], how='inner')

In [37]:
df_crop3 = df_crop2.rename(columns={'Item_x': 'Item', 'Item':'Item_Land','Value_x': 'kg/ha_yield','Value_y': 'pesticides(TU)',})

In [38]:
# Drop Un-wanted Colums
columns_to_drop = ['Domain Code','Domain_x','Area_x','Element Code','Element_x','Year Code','Item_y','Domain_y','Unit_x','Area_y',
                   'Element_y','Unit_y','Element_y','Item_y','Unit_y','Item_Land','Element']
df_crop4 = df_crop3.drop(columns=columns_to_drop, errors='ignore')

In [39]:
df_crop4 = df_crop4[['Area Code (M49)', 'Country','Year','Item Code (FAO)', 'Item','kg/ha_yield','pesticides(TU)','Land_per_1000ha']]  # Rearranged order

In [40]:
# Merge on the common column "ID"
df_climate = pd.merge(df_rainfall, df_temp, on=['Code', 'Year'], how='inner')

In [41]:
# Drop Un-wanted Colums
columns_to_drop_c = ['Country_y',]
df_climate = df_climate.drop(columns=columns_to_drop_c, errors='ignore')
df_climate = df_climate.rename(columns={'Country_x':'Country'})

In [42]:
df_climate.head()

,Country,Code,Indicator Name,Indicator Code,Year,average_rain_fall_mm_per_year,avg_temp
0,Aruba,ABW,Forest area (% of land area),AG.LND.FRST.ZS,1990,2.333333,28.07
1,Afghanistan,AFG,Forest area (% of land area),AG.LND.FRST.ZS,1990,1.852782,13.26
2,Angola,AGO,Forest area (% of land area),AG.LND.FRST.ZS,1990,63.578070,21.73
3,Albania,ALB,Forest area (% of land area),AG.LND.FRST.ZS,1990,28.788321,12.17
4,Andorra,AND,Forest area (% of land area),AG.LND.FRST.ZS,1990,34.042553,8.19

In [43]:
# Merge on the common column "ID"
df_combine = pd.merge(df_crop4, df_climate, on=['Country', 'Year'], how='inner')

In [44]:
df_combine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51483 entries, 0 to 51482
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Area Code (M49)                51483 non-null  int64
 1   Country                        51483 non-null  object
 2   Year                           51483 non-null  int64
 3   Item Code (FAO)                51483 non-null  int64
 4   Item                           51483 non-null  object
 5   kg/ha_yield                    51483 non-null  float64
 6   pesticides(TU)                 51483 non-null  float64
 7   Land_per_1000ha                51483 non-null  float64
 8   Code                           51483 non-null  object
 9   Indicator Name                 51483 non-null  object
 10  Indicator Code                 51483 non-null  object
 11  average_rain_fall_mm_per_year  51483 non-null  float64
 12  avg_temp                       51483 non-null  float64
dtypes: float64(5), int64(3), object(5)
memory usage: 5.1+ MB

In [45]:
df_final = df_combine[['Area Code (M49)',
                       'Country',
                       'Year',
                       'Item Code (FAO)',
                       'Item',
                       'kg/ha_yield',
                       'pesticides(TU)',
                       'Land_per_1000ha',
                       'average_rain_fall_mm_per_year',
                       'avg_temp',
                       'Code' ,
                       'Indicator Name',
                       'Indicator Code']]  # Rearranged order

In [46]:
df_final.head()

,Area Code (M49),Country,Year,Item Code (FAO),Item,kg/ha_yield,pesticides(TU),Land_per_1000ha,average_rain_fall_mm_per_year,avg_temp,Code,Indicator Name,Indicator Code
0,8,Albania,1992,56,Maize (corn),2487.6,121.0,12.83,28.645985,11.84,ALB,Forest area (% of land area),AG.LND.FRST.ZS
1,8,Albania,1993,56,Maize (corn),2418.5,121.0,13.13,28.574818,11.79,ALB,Forest area (% of land area),AG.LND.FRST.ZS
2,8,Albania,1994,56,Maize (corn),2584.8,201.0,13.43,28.503650,12.81,ALB,Forest area (% of land area),AG.LND.FRST.ZS
3,8,Albania,1995,56,Maize (corn),3130.0,251.0,13.74,28.432482,11.66,ALB,Forest area (% of land area),AG.LND.FRST.ZS
4,8,Albania,1996,56,Maize (corn),3260.4,262.4,14.00,28.361314,11.31,ALB,Forest area (% of land area),AG.LND.FRST.ZS

In [47]:
# Save to CSV
output_path="data/yield_df.csv"
df_final.to_csv(output_path, index=False)

print(f"CSV file saved at: {output_path}")

CSV file saved at: data/yield_df.csv